{% extends 'base.html' %}

{% block content %}

<h1>{{ object.username }}</h1>
<p>Email: {{ object.email }}</p>

<p><a href="{% url 'instructions' %}">Instructions</a></p>

{% if object.consent %}
    <p>Consent status: Consented</p>
    <a href="{% url 'withdraw_consent' %}">View consent form</a>
    <br>
    <a href="{% url 'upload_takeout' %}">Upload Google Takeout</a>
{% else %}
    <p>Consent status: Not Consented</p>
    <a href="{% url 'consent' %}">Give Consent</a>
{% endif %}
    <br>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}