<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to the Data Donation App</h1>
    <p>
        <a href="{% url 'privacy_notice' %}" class="btn btn-primary">Privacy Notice</a>
    </p>

    {% if user.is_authenticated %}
    <p>
        <a href="{% url 'profile' %}" class="btn btn-primary">Profile</a>
    </p>
    
    <br>
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% endif %}
</body>
</html>