{% extends 'base.html' %}

{% block content %}

<h4><a href="/">Back to the Main Page</a></h4>

<h1 class="my-4">Privacy Notice for the Donated Data Beta Study</h1>

<p><b>Please read the privacy statement and indicate you have understood it at the bottom of the document.</b> If you have questions, contact us at talayeh.aledavood@aalto.fi.</p>

<p>
  You have been invited to participate in a research study.  Participation in this study is voluntary. You can discontinue your participation in the study at any time. Should you discontinue your participation, you will not be subject to any negative consequences. This privacy notice describes the use of your data.
</p>


<ol>
  <li>
  <p>
    <b>What is being studied in this research study? What is the purpose of processing personal data?</b>
  </p>
  <p>
    <b>The subject of this study is:</b> Studying the usability of donated data in scientific research and
    developing the necessary tools for the analysis of donated data.
  </p>
  <p>
    <b>Reasons for processing  personal data and the purpose of this study: </b> Establishing the usability
    and quality of donated data in scientific research and developing the necessary tools for the analysis 
    of donated data.
  </p>

  <p>
    <b>Your personal data is:</b> used without identification to perform this analysis.
  </p>

  <p>
    <b>Your role in this study:</b> Donating personal data collected by Google.
  </p>

  <p>
    <b>Research funding:</b> This research is funded by Aalto University basic funding.
  </p>
  </li>

  <li>
  <p>
  <b>Personal data will be collected from the following sources:</b>
  <ul>
    <li>Study portal (basic demographic information)</li>
    <li>Uploaded Google Takeout</li>
  </ul>
  </p>
  </li>

  <li>
    <p><b>What personal data is processed?</b>
    <ul>
      <li><b>Study portal</b> (basic demographic information and surveys)</li>
      <li><b>Uploaded Google Takeout Data</b></li>
    </ul>
    </p>
  </li>

  <li>
    <p><b>How is personal data minimized in the study?</b>
      <ul>
        <li>Data which is not needed is not collected.</li>
        <li>During actual analysis, all data is analyzed without identifiers.</li>
      </ul>
    </p>
  </li>

  <li>
    <p><b>Legal basis for processing of personal data</b></p>
    <p>The processing of personal data is required for the performance of a task carried out in the public interest, namely scientific research.</p>
  </li>

  <li>
    <p><b>Sharing of Personal Data</b></p>
    <p>Aalto University may need to share some of the research data with third-party collaborators, who are processors of your personal data.</p>
    <p>These collaborators include other researchers at Aalto University or other partners.</p>
    <p>Aalto University has data processing agreements with these collaborators and they are only allowed to process your data according to data processing agreement that includes processing instructions.</p>
    <p>Third-party collaborators will NOT have access to your name or contact information. The data shared with collaborators will not be directly identifiable to you.</p>
  </li>

  <li>
    <p><b>Transfer of Personal Data to Non-EU/EEA countries</b></p>
    <p>Personal data is not transferred to non-EU/EAA countries.</p>
  </li>

  <li>
    <p><b>Storage period of your data and anonymisation</b></p>
    <p>Name, contact info: For the active period of the study and six months after.</p>
    <p>Research data: Data is stored such that it can be completely separated from your identifiers. This split will happen at the latest six months after the active phase of the study, or upon your request and early withdrawal.  Research data is stored five years after the end of the active phase of the study.</p>
    <p>Research study collaborators will never have access to identified personal data, and will have access to the data for the same duration as researchers.</p>
  </li>

  <li>
    <p><b>The rights of the study participant in a scientific study</b></p>
    <p>According to the General Data Protection Regulation (GDPR), subjects have the right:
      <ul>
        <li>to obtain information on the processing of their personal data</li>
        <li>of access to their data</li>
        <li>to request rectification of their data</li>
        <li>to request restricting the processing of their data</li>
        <li>to object to the processing of their data</li>
        <li>right to erasure, if the grounds of article 17.1 of GDPR apply and if processing is no longer needed for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes in accordance with Article 89(1) in so far as the right to erasure is not  likely to render impossible or seriously impair the scientific research.</li>
      </ul>
    </p>
    <p>If the purposes for which a controller processes personal data do not or do no longer require the identification of a data subject by the controller, the controller shall not be obliged to maintain, acquire or process additional information in order to identify the data or the data subject for the sole purpose of complying with the GDPR. If the controller cannot identify the data related to a data subject, the rights of access, rectification, objection and erasure shall not apply, except if the data subject provides additional information enabling his or her identification and the identification of the research data that relates to data subject.</p>
    <p>Data is being processed for the purposes of scientific research, and the data is not used in decision-making related to the participant.</p>
    <p>To exercise his or her rights, the data subject should contact the Data Protection Officer of Aalto University, or the research study contact person.</p>
  </li>

  <li>
    <p><b>More information on the study and the exercising of your rights</b></p>
    <p>The controller in this study is Aalto University.</p>
    <p>The contact person in matters related to the research study:
    <table>
      <tr>
        <th>Phone:</th><td>+358-505632634</td>
      </tr>
      <tr>
        <th>Email:</th><td>talayeh.aledavood@aalto.fi</td>
      </tr>
      </table>
      <p>Department of Computer Science</p>
      <p>Aalto University School of Science</p>
    <p>The research participant must contact Aalto University’s data protection officer if they have questions or demands related to the processing of personal data.</p>
    <p>Data Protection Officer:
    <table>
      <tr>
        <th>Phone:</th><td>+358 9 47 001</td>
      </tr>
      <tr>
        <th>Email:</th><td>dpo@aalto.fi</td>
      </tr>
    </table></p>
    <p>In this customer service portal, you can make requests personal data requests based on your rights:
       <a href="https://datarequest.aalto.fi/en-US/">Home · Consent Management (aalto.fi)</a>.</p>
    <ol type="a">
      <li>
        If the research participant sees that their data has been processed in violation of the General Data Protection Regulation or data protection legislation, the participant has the right to lodge a complaint with the supervisory authority, the Data Protection Ombudsman (see more:
        <a href="https://tietosuoja.fi/">tietosuoja.fi</a>).</li>
    </ol>
  </li>
</ol>



{% endblock %}